.container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.order-items{
    border: 1px solid;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.order-items > h3{
    text-align: center;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category-menu{
    border: 1px solid;
    border-radius: 13px;
    width: 154px;
    margin: 7px;
    padding: 5px;
}

.order-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.order-list > p{
    margin: 5px;
}